/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/07/04, 10:09:30
    Author     : s20163002
*/
/* 外枠 */
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    display: inline-block;
}
.box2 p {
    margin: 0; 
    padding: 0;
}

button{
    margin: 6px 6px 6px 6px;
    width: 100%;
}
/* aをボタン風にする */
/*a{
    background-color:#ddeeff;
    border:1px solid #ccc;
    padding:5px;
    cursor:pointer;
    margin: auto;
}
a:hover {
    color:white;
    background-color:#999;
}*/

/* ▼タブ */
#tabcontrol a {
   //display: inline-block;            /* インラインブロック化 */
   //border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
   //border-style: solid;              /* 枠線の種類：実線 */
   //border-color: black;              /* 枠線の色：黒色 */
   //border-radius: 0.75em 0.75em 0 0; /* 枠線の左上角と右上角だけを丸く */
   //padding: 0.75em 1em;              /* 内側の余白 */
   //text-decoration: none;            /* リンクの下線を消す */
   //color: black;                     /* 文字色：黒色 */
   //background-color: white;          /* 背景色：白色 */
   //font-weight: bold;                /* 太字 */
   position: relative;               /* JavaScriptでz-indexを調整するために必要 */
}
/* ▼タブにマウスポインタが載った際(任意) */
//#tabcontrol a:hover {
//   text-decoration: underline;       /* 文字に下線を引く */
//}

#tabbody div {
   //border: 1px solid black; /* 枠線：黒色の実線を1pxの太さで引く */
   margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
   padding: 1em;            /* 内側の余白量 */
   background-color: white; /* 背景色：白色 */
   position: relative;      /* z-indexを調整するために必要 */
   z-index: 0;              /* 重なり順序を「最も背面」にするため */
}
/* ▼タブの配色 */
//#tabcontrol a:nth-child(1), #tabbody div:nth-child(1) { background-color: #ffffdd; }/* 1つ目のタブとその中身用の配色 */
//#tabcontrol a:nth-child(2), #tabbody div:nth-child(2) { background-color: #ddffdd; }/* 2つ目のタブとその中身用の配色 */
//#tabcontrol a:nth-child(3), #tabbody div:nth-child(3) { background-color: #ddddff; }/* 3つ目のタブとその中身用の配色 */
